@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
  margin:0;
  padding:0;
}
body{
  font-family:"微软雅黑";
  background: #f0f4f6;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  border:0;
}
/*header*/
.vm-dd3-header{
  width: 100%;
  height:64px;
  line-height: 64px;
  padding-left: 25px;
}
.vm-dd3-header img{
  margin-left: 10px;
}
.vm-dd3-header span{
  margin-left: 10px;
  color: #999999;
  font-size:14px;
  cursor: pointer;
}
.vm-dd3-header .iconfont{
  color:skyblue;
}
/*bigbox*/
.vm-dd3-bigBox{
  width: 1073px;
  height:291px;
  border:1px solid #d4dde2;
  margin:0 auto;
  background: #fff;
}
.vm-dd3-bigBox2{
  height:49px;
  background: #eceff1;
  border-bottom: 1px solid #d4dde2;
  line-height: 49px;
  text-indent: 32px;
}
.vm-dd3-bigBox2 span{
  color:#565656;
  font-size: 14px;
}
.vm-dd3-bigBox3{
  height: 52px;
  border-bottom: 1px solid #d4dde2;
  padding-top: 20px;
}
.vm-dd3-bigBox3Left{
  width: 116px;
  height:32px;
  border-radius: 4px;
  border:1px solid #d8dce5;
  line-height: 30px;
  margin-left: 24px;
  float:left;
  cursor: pointer;
  background: #409eff;
}
.vm-dd3-bigBox3Left span{
  color:#fff;
  font-size:14px;
  margin-left: 15px;
}

.vm-dd3-bigBox4{
  width:1073px;
  height:95px;
}
.vm-dd3-bigBox4 ul li{
  width: 1073px;
  height: 47px;
  border-bottom: 1px solid #ebeef5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vm-dd3-bigBox4 ul li>span{
  width: 194px;
  text-align: center;
  color:#656565 ;
  font-size:14px ;
}
.vm-dd3-bigBox4 ul li>span:nth-child(2),.vm-dd3-bigBox4 ul li input{
  width:68px ;
}
.vm-dd3-bigBox4 ul li>span:last-child{
  width: 200px;
}
.icon-torder_light,.icon-del{
  padding:3px 3px;
  border-radius: 3px;
  color:#fff;
  cursor: pointer;
}
.icon-torder_light{
  background: #ffbf35;
}
.icon-del{
  background:#ff8b53 ;
  margin-left: 6px;
}
ul li .iconfont{
  font-size:30px;
}
.vm-dd3-bigBox5{

}
.vm-dd3-bigBox5Left{

  height: 72px;
  line-height: 72px;
  float: left;
}
.vm-dd3-bigBox5Left span{
  color: #c0c4cc;
  font-size: 14px;
  margin-left: 10px;
  padding: 9px 15px;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  cursor: not-allowed;

}
.vm-dd3-bigBox5Middle{
  width:320px;
  height: 72px;
  float: left;
  line-height: 72px;
  margin-left: 35px;
}
.vm-dd3-bigBox5Middle span{
  color:#999999;
  font-size:14px
}
.vm-dd3-bigBox5Middle input{
  width:58px ;
  height:30px ;
  border-radius: 4px;
  border:1px solid #d8dce5;
}
.vm-dd3-bigBox5Middle span:last-child{
  margin-left: 15px;
}
.vm-dd3-bigBox5Right{
  width: 200px;
  height: 72px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vm-dd3-bigBox5Right span{
  color:#606266;
  font-size:14px;
}
.vm-dd3-bigBox5Right span:nth-child(3) {
  color: #409eff;
}
