@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,ol,ul,dl,dd,p,input,select,textarea,td{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
body{
	font-family:"微软雅黑";
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select:none;
  user-select: none;
}
a{
	text-decoration:none;
	cursor: pointer;
}
ul,ol{
	list-style:none;
}
img{
	border:0;
	display: block;
}
em,i{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight:normal;
}

/*section*/
.sm-section{
	margin-left: 220px;
  position: relative;
  right: 0;
  left: 0;
  padding-top:0;
}
.sm-sec-one{
	top: 64px;
  bottom: 24px;
  padding: 0 24px;
}
.sm-sec-1{
	background: #fff;
    border: 1px solid #d4dde2;
    margin-bottom: 24px;
}
.sm-sec-2{
	padding: 0 24px;
    font-size: 14px;
    color: #565656;
    background: #eceff1;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #d4dde2;
}
.sm-sec-two{
  position: relative;
  min-height: 650px;
  overflow: hidden;
}
.sm-sec-2 span{
	float: left;
    margin-right: 25px;
}
.sm-sec-left{
	width:200px;
  height:100%;
  overflow: auto;
  position: absolute;
  border-right: 1px solid #d4dde2;
}
.sm-sec-right-one{
	padding: 20px 0;
    margin: 0 24px;
}
.sm-sec-right-one-1{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sm-sec-right-two-1{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sm-sec-right-one-2{
	width: 85px;
    margin-right: 11px;
    position: relative;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
}
.sm-sec-right-one-2 input{
	padding-right: 30px;
	cursor: pointer;
	height: 32px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    outline:none;
    padding: 0 15px;
    width: 100%;
}
.sm-sec-right-one-2 .icon-el-icon-arrow-down{
	color: #c0c4cc;
    font-size: 14px;
    position:relative;
    left:-27px;
}
.sm-sec-right-one-3{
    font-size: 14px;
    border: 1px solid #d8dce5;
    position: relative;
    display: inline-block;
    height:32px;
    white-space: nowrap;
    line-height: 32px;
}
.sm-sec-right-one-3 span{
	padding:0 11px;
}
.sm-sec-right-one-4{
	margin-left: 55px;
	float: left;
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.sm-sec-right-one-4 label{
	 padding-right: 10px;
    line-height: 32px;
    flex: auto;
    color: #5a5e66;
}
.sm-sec-right-one-5{
	width: 160px;
	position: relative;
    font-size: 14px;
    display: inline-block;
}
.sm-sec-right-one-5 input{
	border: 1px solid #d8dce5;
	height: 32px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: none;
    width:100%;
    padding: 0 15px;
}
.sm-sec-right-one-6{
	margin-left: 16px;
	line-height: 1;
    cursor: pointer;
    padding: 8px 15px;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    border-radius: 4px;
}
.sm-sec-content{
	border-top: 1px solid #eee;
	color: #353535;
	flex: 1;
}
.sm-sec-right-two{
	display: flex;
	border-bottom: 1px solid #ebeef5;
	height: 48px;
	align-items: center;
}
.aa{
	width:68px;
	height:48px;
	line-height: 48px;
	text-align: center;
}
.bb{
	width:80px;
	height:48px;
	line-height: 48px;
	text-align: center;
}
.cc{
	width:200px;
	height:48px;
	line-height: 48px;
	text-align: center;
}
.sm-sec-right-two-1{
	text-align: center;
	height: 48px;
	flex:1;
	justify-content: center;
}
.bb img{
	 width: 56px;
    height: 56px;
    margin:0 auto;
}

.sm-sec-right-two-1 span{
	content:"";
}
.sm-sec-right-two-1 .bianji{
	background: #17d57e;
	margin-right: 5px;
}
.shanchu{
	background: #ff8b53;
}
.bianji, .shanchu{
	 outline: none;
    color: #fff;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.iconfont{
	font-size: 28px;
}
.sm-footer{
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
    margin: 20px 0;
    overflow: hidden;
}
.sm-footer-left{
	display: flex;
}
.sm-foot-1 input{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    height:32px;
    outline: none;
    width: 60px;
    box-sizing: border-box;
    margin: 0 10px 0 5px;
}
.jinyong{
	 cursor: not-allowed;
}
.sm-footer-left button{
	color: #c0c4cc;
    background-color: #fff;
    border-color: #ebeef5;
    outline:none;
    line-height: 1;
    border: 1px solid #dcdfe6;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 15px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 4px;
}
.sm-footer-right{
	display: flex;
	font-weight: 700;
	white-space: nowrap;
}
.sm-footer-right ul{
	display:inline-block;
	height:32px;
	line-height: 32px;
}
.sm-foot-1{
	margin-left: 35px;
    color: #999;
	font-size: 14px;
	white-space: nowrap;
}

.sm-right-1{
	display:inline-block;
}
.sm-footer-right .iconfont{
	font-size: 12px;
}
.sm-footer-right span{
	display: inline-block;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    vertical-align: top;
    box-sizing: border-box;
}
.sm-footer-right button{
	border:none;
	background:#fff;
  outline: none;
}
.sm-right-1{
	padding: 0 4px;
    background: #fff;
    font-size: 13px;
    box-sizing: border-box;
}
/*树状菜单*/
.sm-left-1{
	display:flex;
	align-items: center;
	height: 50px;
    line-height: 50px;
    padding: 0 24px;
    color: #8a8e98;
    cursor: pointer;
}
.sm-left-2{
	white-space: nowrap;
	position: relative;
    cursor: pointer;
    background: #fff;
    color: #606266;
    font-size: 14px;
	color: #353535;
}

.sm-left-3 span{
	padding-left: 22px;
}
.close_menu,.open_menu{
  overflow: hidden;
  padding-left: 27px;
}
.close_menu span,.open_menu span{
  height: 32px;
  line-height: 32px;
  display: block;
  float: left;
  cursor: pointer;
  color:#000;
  padding-left: 22px;
}
.close_menu:hover,.open_menu:hover,.three:hover{
  background:#F5F7FA;
}
.close_menu span{
  background: url(../imgs/jia.png) no-repeat left center;
}
.open_menu span{
  background: url(../imgs/jian.png) no-repeat left center;
}
.one{
  padding-left: 43px;
}
.two{
  padding-left: 59px;
}
.three{
  padding-left: 75px;
  height: 32px;
  line-height: 32px;
}
.three span{
  background: url(../imgs/wenjian.png) no-repeat left center;
  padding-left: 22px;
}
.open_menu .four,.close_menu .four{
  background: url(../imgs/wenjian.png) no-repeat left center;
}


.cf-sec-one {
	display:flex;
}
.cf-sec-one span{
	color: #5a5e66;
}
.cf-sec-one ul li{
	color: #1276c3;
}
.sc-sec-two input{
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 32px;
    line-height:32px;
    padding: 0 15px;
    width:221px;
    text-align: center;
    padding-right: 30px;
}
.sc-sec-two .icon-el-icon-arrow-down {
    color: #c0c4cc;
    font-size: 14px;
    position: relative;
    left: -30px;
}
.cf-sec-three{
	 border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 32px;
    line-height:32px;
    padding: 0 15px;
    width:80px;
    text-align: center;
}
.sm-footer .sm-footer-left .cf-sec-four{
	margin-right: 10px;
	color:#606266;
	cursor: pointer;
}
.add-btn{
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  background-color: #409eff;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
}
.add-btn span{
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.add-btn:hover{
  opacity: .8;
  border: 1px solid #409eff;
  transition: .1s;
}
