html,body{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.aa{
	width:50%;
	display:flex;
	text-align: center;
	justify-content: space-around;
	padding: 24px;
}
.aa a{
	font-size: 14px;
	color: #999;
}
.bj{
	display: block;
	width: 64px;
	height: 64px;
	color: white;
	font-size: 36px;
	line-height: 64px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.icon-fabushangpin1{
	background: #ffbe60;
}
.icon-tupian{
	background: #47d7e8;
}
.icon-ziyuan{
	background: #55de9f;
}
.icon-kefu{
	background: #fb99cc;
}
.icon-fabudewenzhang{
	background: #87c0ea;
}