body,html,h1,h2,h3,h4,h5,h6,ul,li,img,ol,dl,dd,p,input,select,textarea,td,div,form,textarea,th{
    margin: 0;
    padding: 0;
}
body{
    font-family:"微软雅黑";
    background: #eeeeee;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border:0;
    display: block;
}


/*header*/
header{
    width: 100%;
}
.ind-header{
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 10px 1px 15px rgba(0,0,0,.17);
    padding: 0 24px;
    position: fixed;
    z-index: 999;
    float: left;
    box-sizing: border-box;
}
.ind-header-img{
    float: left;
    height: 80px;
    line-height: 80px;
}
.ind-header-img img{
    display: inline-block;
}
.ind-header-l{
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 45px;
}
.ind-header-l img{
    display: inline-block;
}
.ind-header-r{
    float: right;
    display: flex;
    height: 80px;
    align-items: center;
}
.ind-header-r img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}
.ind-user{
    font-size: 20px;
}
.ind-header-r .iconfont{
    color: #777;
    cursor: pointer;
    margin-left: 30px;
    font-size: 24px;
}




/*aside*/
.aside{
    background: #188ae2;
    position: fixed;
    padding-top: 80px;
    padding-bottom: 10px;
    z-index: 99;
    /*overflow: hidden;*/
    width: 15%;
    height: 100%;
    transition: width .3s;
}
aside{
    /*overflow: hidden;*/
    width: auto;
    height: 100%;
}
.ind-menu-t{
    display: block;
    color: #3caeff;
    padding: 20px 24px;
    font-size: 16px;
    outline: none;
}
.ind-menu-uls1{
    overflow: hidden;

}

.ind-menu-uls1 li{
    padding-left: 20px;
    background: #1276c3;
    color: #fff;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    display: table;
}
.ind-menu-lis{

}
.ind-menu-uls1 .iconfont{
    margin-left: 4px;
    margin-right: 25px;
    font-size: 18px;
}
.icojt{
    right: 1px;
    position: absolute;
}
.ind-menu-uls2 {
    display: none;
}
.ind-menu-uls2 li{
    background: url("../img/indd.png") no-repeat left center;
    margin-left: 30px;
    color: #65bfff;
}
.ind-menu-uls2 li span{
    color: white;
}




/*section */
section{
    position: relative;
    right: 0;
    left: 0;
    padding-top: 80px;
    margin-left: 220px;
}
.index-sec{
    /*margin-left: 220px;*/
    padding: 0 24px;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
}
.index-sec li{
    float: left;
    font-size: 14px;
    margin-right: 5px;
}
.index-sec-li1{
    color: #999;
}
.work-sec{
    top: 64px;
    bottom: 24px;
    padding: 0 24px;
}
.work-sales{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.work-sales-con {
    background: #17d57e;
    height: 99px;
    padding: 16px 20px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    width: 20%;
}
.work-sales-hea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-sales-hea span{
    font-size: 36px;
}
.work-sales-name{
    margin-top: 16px;
    text-align: right;
}
.work-con{
    display: flex;
    justify-content: space-between;
}
.work-con-l{
    width: 49%;
}
.work-deal{
    background: white;
    margin-bottom: 24px;
}
.work-h3{
    font-size: 16px;
    line-height: 48px;
    padding-left: 24px;
    font-weight: 400;
    border-bottom: 1px solid #f5f5f5;
}
.work-menu{
    display:flex;
    text-align: center;
    justify-content: space-around;
    padding: 24px;
    background: white;
}
.work-menu a{
    font-size: 14px;
    color: #999;
    display: flex;
    flex-direction: column;
}
.work-menu a .bs{
    font-size: 28px;
    color: #c0d9ec;;
}
.work-menu a .num{
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
.work-menu a .bj{
    display: block;
    width: 64px;
    height: 64px;
    color: white;
    font-size: 36px;
    line-height: 64px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.icon-fabushangpin1{
    background: #ffbe60;
}
.icon-tupian{
    background: #47d7e8;
}
.icon-ziyuan{
    background: #55de9f;
}
.icon-kefu{
    background: #fb99cc;
}
.icon-fabudewenzhang{
    background: #87c0ea;
}
.work-con-r{

}
.work-shop{

}











